.Venues {
  position: relative;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.venue-card {
  width: 350px;
  margin: 20px;
  height: 500px;
  position: relative;
  /* position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -175px; */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.venue-card .color-overlay {
  /* Rectangle 11: */
  background: rgba(84, 104, 110, 0.4);
  width: 350px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.venue-card .gradient-overlay {
  /* bg-gradient: */
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
  width: 350px;
  height: 500px;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 15;
}
.venue-card:hover .card-info {
  opacity: 1;
  bottom: 120px;
}
.venue-card:hover .color-overlay {
  background: rgba(84, 104, 110, 0.8);
}

.title-content {
  text-align: center;
  margin: 70px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}



hr {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #D0BB57;
}

.intro {
  width: 170px;
  margin: 0 auto;
  color: #DCE3E7;
  
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}

.card-info {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  color: #DCE3E7;
  font-family: 'Droid Serif', serif;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.utility-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
}

.utility-list {
  list-style-type: none;
  margin: 0 0 30px 20px;
  padding: 0;
  width: 100%;
}
.utility-list li {
  margin: 0 15px 0 0;
  padding: 0 0 0 22px;
  display: inline-block;
  color: #DCE3E7;
  font-family: 'Roboto', sans-serif;
}
.utility-list li.comments {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-chat.svg) no-repeat 0 0.1em;
}
.utility-list li.date {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-calendar.svg) no-repeat 0 0.1em;
}

.venue-preview_wrapper {
  margin-top: 60px;
  width: 109px;
  height: 109px;
  cursor: pointer;
  position: absolute;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: transform 375ms, width 275ms 100ms, height 375ms;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.venue-preview_wrapper.open {
  transform: translate(-50%, -70%);
  width: 330px;
  height: 330px;
  transition: transform 375ms, width 375ms, height 275ms 100ms;
  
}
.venue-preview_content {
  position: absolute;
  margin: auto;
  left: -9999px;
  right: -9999px;
  transform-origin: top;
  width: 330px;
  transform: scale(0.62);
  height: 330px;
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
  transition: transform 375ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.venue-preview_content.open {
  transform: scale(1);
}
.venue-preview_img {
  height: 180px;
  
  background-size: cover;
  background-position: center;
}
.venue-preview_text {
  padding: 30px; 
}
.venue-preview_text .line {
  height: 13px;
  background: #eee;
  margin-top: 20px;
}
.venue-preview_title {
  width: 80%;
}
.venue-preview_subtitle {
  
  width: 60%;
}

#VenueSpecific {
  background: url(https://subtlepatterns.com/patterns/groovepaper.png);
}

.section_background__full {
  height: inherit;
  width: 100%;
  position: relative;
}
.section_background__full__left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 55%;
  z-index: 0;
}
.section_background__full__right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 45%;
  z-index: 0;
  background-image: linear-gradient(25deg, #111722, #233357, #233357, #233357)
}
.section_background__inner {
 height: 100%;
 width: 100%;
 position: relative;
 z-index: 1;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.section_background__inner_content {
  padding: 50px;
}
.venue_floating_card {
  height: 70vh;
  position: relative;
  width: 60vw;
  -webkit-filter: saturate(2);
  background-size: cover;
  background-repeat: no-repeat;
  filter: saturate(1);
}
.venue_floating_card::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 60vw;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
}
.venue_floating_card__inner h2 {
  font-size: 6em;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 800;
  color: white;

}
.venue_floating_card__inner .ui.horizontal.list {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left:0;
  z-index: 2000;
}
.venue_floating_card__inner .ui.horizontal.list .item, .venue_floating_card__inner .ui.horizontal.list .item i {
  color: white!important;
  cursor: pointer;
}
i.circular.icon {
  border-color: white!important;
  -webkit-box-shadow: 0 0 0 0.1em inset;
  border-color: white;
  box-shadow: 0 0 0 0.1em inset;

}
.section_background__inner__text {
  position: absolute;
  width: 30vw;
  text-align: justify;
  bottom: 6em;
  right: 50px;
  color: white!important;
  z-index: 2;
  padding: 20px;
  line-height: 28px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 200;
}
.section_background__inner__text p {
  color: white!important;
  line-height: 27px;
  color: white!important;
}

/* PAGE SECTION 2 */
.section2.page-section {

}
.section2.section_background__full__left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 45%;
  z-index: 0;
  background-image: linear-gradient(25deg, #111722, #233357, #233357, #233357);
}
.section2.section_background__full__right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 55%;
  z-index: 0;
  background: none;
  
}

.section2.section_background__inner__text {
  position: absolute;
  width: 30vw;
  text-align: justify;
  bottom: 6em;
  right: 50px;
  color: #333!important;
  z-index: 2000;
  padding: 40px;
  background: #fff;
  line-height: 28px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 200;
  border-right: 5px solid #233357;
}
.section2.section_background__inner__text p, .at-a-glance p {
  color: #333!important;
}

.section2.section_background__inner__text h2 {

}

.section2.venue_floating_map_card {
  height: 80vh;
  position: relative;
  width: 70vw;
  display: block;
  margin: auto;
}
#VenueMap {
  height: 100%;
}
#VenueMap .leaflet-container {
  height: 100%;
}

/* VENUE PRO */
.section3.venue_pro {

}
.section3.venue_pro .venue_floating_card {
  /* padding: 30px 0 0; */
  height: 100vh;
  width: 100%;
  display: flex;
}
.section3.venue_pro.venue_floating_card__inner {
  height: 100%;
  width: 55vw;
  
}

.section3.venue_pro #image_gallery_modal__destination {
  height: 100%;
  padding-top: 50px;  
  width: 45vw;
  background-image: -webkit-linear-gradient(65deg, #111722, #233357, #233357, #233357);
  background-image: -o-linear-gradient(65deg, #111722, #233357, #233357, #233357);
  background-image: linear-gradient(25deg, #111722, #233357, #233357, #233357);
}
.section3.venue_pro.venue_floating_card__inner  .ui.grid {
  margin: 0;
  height: 100%;
}
.section3.venue_pro.venue_floating_card__inner .ui.grid>.column:not(.row), .ui.grid>.row>.column {
  padding-left: 0;
}
.section3.venue_pro.venue_floating_card__inner .ui.grid>* {
  padding: 0;
}
.section3.venue_pro .venue_floating_card::after {
  display: none;
}
.section3.venue_pro.venue_floating_card__inner .venue_pro_content_inner {
  padding: 30px 10px 0;
  padding-right: 1rem;
  height: 100%;
  overflow-y: scroll;
  background: white;
  
}
.section3.venue_pro.venue_floating_card__inner .venue_pro_content_inner .overview p {
  padding-top: 10px;
  width: 40%;
}
.section3.venue_pro.venue_floating_card__inner .venue_pro_content_inner .overview>* {
  float: left;
  width: 50%;
}
/* OVERVIEW */
.section3.venue_pro.venue_floating_card__inner .venue_pro_content_inner .overview ul {
  /* float: right; */
  /* border: 1px solid black; */
  margin-top: -110px;
}
.section3.venue_pro.venue_floating_card__inner .venue_pro_content_inner .overview ul li {
  /* border-bottom: 1px solid black; */
  line-height: 2;
  letter-spacing: 1px;
  /* font-size: 18px; */
}
/* SERVICES */
.section3.venue_pro.venue_floating_card__inner .venue_pro_content_inner .services ul {

}
.section3.venue_pro.venue_floating_card__inner .venue_pro_content_inner .services ul li {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;    
    letter-spacing: 1px;
    font-weight: 300;
}
.section3.venue_pro.venue_floating_card__inner .venue_pro_content_inner .services ul li img {
  object-fit: cover;
  object-position: center;
  min-width: 200px;
  width: 100%;
  min-height: 100px;
  height: 100%;
  margin-right: 5px;
}

.section3.venue_pro.venue_floating_card__inner .venue_pro_content_inner .Studios .image-gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Studios .segment .studio {
  color: #333;
}
.Studios .segment .studio h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
}

.Studios .segment .studio .specs table {
  width: 100%;
  margin-top: 20px;
}
.Studios .segment .studio .specs table th {
  padding: 20px;
  color: white;
  background: black;
}
.Studios .segment .studio .specs table td {
  padding: 20px;
}
.Studios .segment .studio .download {
  background: black;
  padding: 20px 40px;
  width: max-content;
  color: white;
  margin: 10px auto;
}

.Studios .segment .studio .media {
  width: 100%;
}
.Studios .segment .studio .media img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}